{% extends "base.html" %}

{% block content %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="inline pull-left">
					<h1>{{ activity.name }}</h1>
				</div>
				<div class="inline pull-right">
				<a href="{{ url_for('activityList') }}">
					<button type="button" class="btn btn-primary btn-lg pull-right">Back to Activity List</button>
				</a>
				<br><br>
				{% if 'username' in login_session %}
				<div class="btn-group btn-group-sm" role="group" aria-label="...">
					{% if subcategories != [] %}
					<a href="{{ url_for('subCategoryEdit', activity_id=activity.id) }}">
						<button type="button" class="btn btn-warning pull-left">
							<strong><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Items</strong>
						</button>
					</a>
					{% endif %}
					<a href="{{ url_for('itemNew', activity_id=activity.id) }}">
						<button type="button" class="btn btn-success pull-left">
							<strong><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Item</strong>
						</button>
					</a>
				</div>
				{% endif %}
				</div>
				
				
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-md-12">
				<div class="flash">
					{% with messages = get_flashed_messages() %}
					{% if messages %} 
					<div class="alert alert-info" role="alert">
						{% for message in messages %}
						<strong> {{ message }} </strong>
						{% endfor %}
					</div>
					{% endif %}
					{% endwith %}
				</div>
				  <div class="col-md-8">
					{% for subcategory in subcategories %}
					<div class="panel panel-default">
						<div class="panel-body">
							<h2>{{ subcategory.name }}</h2>
						</div>
					</div>
					{% endfor %}
				  </div>
				  <div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">Advertising</div>
							<div class="panel-body">
								<a href="https://freebitco.in/?r=647549"><img src="https://static1.freebitco.in/banners/468x60-3.png" class="img-responsive"></a>
							</div>
						</div>
				  </div>
				<br>
				<br>
				
			</div>
		</div>
	
{% endblock %}