<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Udacity Fullstack Nanodegree Project 'Item-Catalog' by David Duckwitz">
	<meta name="keywords" content="udacity, fullstack nanodegree, david duckwitz, FDW, python">
	<meta name="author" content="David Duckwitz">
	<meta name="page-topic" content="Bildung">
	<meta name="copyright" content="David Duckwitz">
	<meta name="page-type" content="Private Homepage">
	<meta name="audience" content="Alle"><meta http-equiv="content-language" content="en">
	<meta name="robots" content="index, follow">
	<meta name="DC.Creator" content="David Duckwitz">
	<meta name="DC.Publisher" content="David Duckwitz">
	<meta name="DC.Rights" content="David Duckwitz">
	<meta name="DC.Description" content="Udacity Fullstack Nanodegree Project 'Item-Catalog' by David Duckwitz">
	<meta name="DC.Language" content="en">
	<link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon" type="image/x-icon/">
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
	<title>Fullstack WD Item Catalog</title>
	<!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript --> <!-- On Big sites - Move JS Scripts before the closing <BODY> Tag to Speedup Loading -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!--LOAD SIGN IN -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="//apis.google.com/js/platform.js?onload=start" async defer></script>
	<!-- ./ END GOOGLE SIGN IN -->	
</head>
<body>

	<div class="row">
		<div class="col-md-12">
			<div class="inline text-center">
				<h1>Login</h1>
			</div>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-12">
			<div class = 'flash inline text-center'>
				{% with messages = get_flashed_messages() %}
				{% if messages %} 
				<div class="alert alert-info" role="alert">
					{% for message in messages %}
					<strong> {{ message }} </strong>
					{% endfor %}
				</div>
				{% endif %}
				{% endwith %}
			</div>
		</div>
	</div>

<!-- GOOGLE PLUS SIGN IN-->
		
	<div class="row">
		<div class="col-md-12">
			<div class="inline text-center">
				<div id="signinButton">
					<span class="g-signin" 
						data-scope="openid email" 
						data-clientid="161181905988-sg22abf2sad3sgapnev4u04n6p14j7iq.apps.googleusercontent.com" 
						data-redirecturi="postmessage" 
						data-accesstype="offline" 
						data-cookiepolicy="single_host_origin" 
						data-callback="signInCallback" 
						data-approvalprompt="force">
					</span>
				</div>
				<div id="result"> </div>
			</div>
		</div>
	</div>
	
<!-- ./ GOOGLE PLUS SIGN IN-->

<script>
function signInCallback(authResult) {
	if (authResult['code']) {

		// Hide the sign-in button now that the user is authorized
		$('#signinButton').attr('style', 'display: none');

		// Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
		$.ajax({
			type: 'POST',
			url: '/gconnect?state={{STATE}}',
			processData: false,
			data: authResult['code'],
			contentType: 'application/octet-stream; charset=utf-8',
			success: function(result) {

				// Handle or verify the server response if necessary.
				if (result) {
					$('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
					setTimeout(function() {
						window.location.href = "/";
					}, 4000);
				} else if (authResult['error']) {
					console.log('There was an error: ' + authResult['error']);
				} else {
					$('#result').html('Failed to make a server-side call. Check your configuration and console.');
				}
			}
		});
	}
}
</script>

<!--END GOOGLE PLUS SIGN IN -->



</body>
</html>