<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Udacity Fullstack Nanodegree Project 'Item-Catalog' by David Duckwitz">
	<meta name="keywords" content="udacity, fullstack nanodegree, david duckwitz, FDW, python">
	<meta name="author" content="David Duckwitz">
	<meta name="page-topic" content="Bildung">
	<meta name="copyright" content="David Duckwitz">
	<meta name="page-type" content="Private Homepage">
	<meta name="audience" content="Alle"><meta http-equiv="content-language" content="en">
	<meta name="robots" content="index, follow">
	<meta name="DC.Creator" content="David Duckwitz">
	<meta name="DC.Publisher" content="David Duckwitz">
	<meta name="DC.Rights" content="David Duckwitz">
	<meta name="DC.Description" content="Udacity Fullstack Nanodegree Project 'Item-Catalog' by David Duckwitz">
	<meta name="DC.Language" content="en">
	<link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon" type="image/x-icon/">
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
	<title>Fullstack WD Item Catalog</title>
	<!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript --> <!-- On Big sites - Move JS Scripts before the closing <BODY> Tag to Speedup Loading -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!--LOAD SIGN IN -->
	
	<script src="//apis.google.com/js/platform.js?onload=start" async defer></script>
	<!-- ./ END GOOGLE SIGN IN -->	
</head>
<body>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Project 'Catalog'</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-left">				
				<li><a href="/">Home</a></li>				
			</ul>
		
		
			<ul class="nav navbar-nav navbar-right">
				{% if 'username' not in login_session %}
				<li><a href="{{ url_for('showLogin') }}">Login</a></li>
				{% else %}
				{% if 'picture' not in login_session %}
				<li><img src="{{ url_for('static', filename='blank_user.gif') }}" id="profile-photo"></li>
				{% else %}
				<li><img src="{{ login_session['picture'] }}" id="profile-photo"></li>
				{% endif %}
				<li><a href="{{ url_for('disconnect') }}">Logout</a></li>
				{% endif %}
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<script>
function signInCallback(authResult) {
	var csrf_token = "{{ csrf_token() }}";
	if (authResult['code']) {

		// Hide the sign-in button now that the user is authorized
		$('#signinButton').attr('style', 'display: none');

		// Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
		$.ajax({
			beforeSend: function(xhr, settings) {
				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrf_token);
				}
			},
			type: 'POST',
			url: '/gconnect?state={{STATE}}',
			processData: false,
			data: authResult['code'],
			contentType: 'application/octet-stream; charset=utf-8',
			success: function(result) {
				// Handle or verify the server response if necessary.
				if (result) {
					$('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...');
					setTimeout(function() {
						window.location.href = "/";
					}, 4000);
				} else if (authResult['error']) {
					console.log('There was an error: ' + authResult['error']);
				} else {
					$('#result').html('Failed to make a server-side call. Check your configuration and console.');
				}
			}
		});
	}
}
</script>
<!--FACEBOOK SIGN IN -->
<script>
    window.fbAsyncInit = function() {
    FB.init({
      appId      : '688701261320313',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();   
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  
  function sendTokenToServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
	var csrf_token = "{{ csrf_token() }}";
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
     $.ajax({
	  beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        },
      type: 'POST',
      url: '/fbconnect?state={{STATE}}',
      processData: false,
      data: access_token,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...');
			setTimeout(function() {
				window.location.href = "/";
			}, 3000);
          
		} else {
			$('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  });
    });
  }
</script>
	<div class="row">
		<div class="col-md-12">
			<div class="inline text-center">
				<h1>Activitie List Login</h1>
			</div>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-12">
			<div class = 'flash inline text-center'>
				{% with messages = get_flashed_messages() %}
				{% if messages %} 
				<div class="alert alert-info" role="alert">
					{% for message in messages %}
					<strong> {{ message }} </strong>
					{% endfor %}
				</div>
				{% endif %}
				{% endwith %}
			</div>
		</div>
	</div>

<!-- GOOGLE PLUS & FaceBook SIGN IN-->
		
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">Welcome</div>
				<div class="panel-body">Here you can plan your Activities</div>
				<div class="panel-footer">Sign-In / UP to create your own Activitie List</div>
			</div>
		
		</div>
		<div class="col-md-4">
			<div class="inline text-center">
				<div class="panel panel-info">
					<div class="panel-heading">Sign-IN/UP</div>
					<div class="panel-body">
					<!--	<div class="panel panel-danger">
							<div class="panel-heading">Login with Google</div>
							<div class="panel-body">
								<!-- G Login 
								<div id="signinButton">
									<span class="g-signin" 
										data-scope="openid email" 
										data-clientid="161181905988-sg22abf2sad3sgapnev4u04n6p14j7iq.apps.googleusercontent.com" 
										data-redirecturi="postmessage" 
										data-accesstype="offline" 
										data-cookiepolicy="single_host_origin" 
										data-callback="signInCallback" 
										data-approvalprompt="force">
									</span>
								</div>
							</div>
						</div> -->
						<div class="panel panel-primary">
							<div class="panel-heading">Login with Facebook</div>
							  <div class="panel-body">
								<div id="result"> </div>
								<!-- FB Login -->			
								<fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
								Login with Facebook
								</fb:login-button>
							  </div>
						</div>
					</div>
					<div class="panel-footer"></div>
				</div>
			</div>
		</div>
	</div>

<div class="container-fluid"> <!-- Start Container -->		
	<div class="row text-center">
		<div class="col-md-12">
			<div class="panel panel-default text-center">
			  <div class="panel-body text-center">
				<h3><b>&copy; 2017 by David Duckwitz</b></h3>
				<p><b>Other Projects by David Duckwitz:<br>
				<a title="The Bitcoin-Tech Network" href="http://www.bitcoin-tech.com">Bitcoin-Tech</a> - <a title="The Bitcoin-School" href="http://www.bitcoin-school.com">Bitcoin-School</a> - <a title="Selfpres" href="http://www.selfpres.com">Selfpres</a> - <a title=".WS Domains" href="http://www.davidduckwitz.com">.ws Doamins</a> - <a title="Bitcoin Script" href="http://bitcoinscript.davidduckwitz.de">Bitcoin-Script</a></b></p>
				<center><a href="https://freebitco.in/?r=647549"><img src="https://static1.freebitco.in/banners/728x90-2.png" class="img-responsive"></a></center>
			  </div>
			</div>
		</div>
	</div>
</div> <!-- ./ End Container -->
	
</body>
</html>